* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

/* reset user-agent style sheet */
h1,
h2,
h3 {
  margin: 0;
}

html {
  /* base font size */
  font-size: 1.125rem;
}

.max-width-wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 24px; /* match the negative margin and padding on .card */
}

.intro-chunk {
  padding: 96px 0 48px;
  max-width: 400px; /* make the column only take up at most 500 px */
  /* padding: 96px 200px 48px 16px; */
}

.intro-chunk p {
  font-size: 1.25rem;
  line-height: 1.5;
}

.intro-chunk .title {
  font-size: 2rem;
  margin-bottom: 32px;
}

.intro-chunk strong {
  color: hsl(160deg, 100%, 30%);
}

header {
  border-bottom: 6px solid hsl(0deg, 0%, 40%);
}

/* ========================== */

main {
  background-color: hsl(0deg, 0%, 60%);
  padding: 96px 0;
}

.card {
  background-color: hsl(0deg, 0%, 100%);
  padding: 24px;
  margin: -24px; /* offset the indentation caused by padding */
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
}

.card p {
  line-height: 1.5;
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  margin-left: -32px;
  margin-top: -16px;
  padding: 16px 32px; /* offset the negative margin */
  width: fit-content; /* fit content within constraints of parent's available space */
  font-size: 1.25rem;
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
}

/* remove extra space from bottom of paragraphs in container */
.card p:last-child {
  margin-bottom: 0;
}
