* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

.max-width-wrapper {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  margin-bottom: 48px;
}

.intro-chunk {
  padding: 96px 200px 48px 16px;
}

.intro-chunk > p {
  font-size: 1.25rem;
  line-height: 1.5;
}

.intro-chunk > p > strong {
  color: hsl(160deg, 100%, 30%);
}

main {
  padding-top: 96px;
  padding-bottom: 96px;
  border-top: 6px solid hsl(0deg, 0%, 40%);
  background-color: hsl(0deg, 0%, 60%);
}

.card {
  padding: 16px;
  line-height: 1.5;
  background-color: hsl(0deg, 0%, 100%);
  border-bottom: 6px solid hsl(0deg, 0%, 40%);
}

.indented-heading {
  width: fit-content;
  padding: 16px 32px;
  margin-top: -8px;
  margin-left: -32px;
  background-color: hsl(45deg, 100%, 50%);
  font-size: 1.25rem;
  border-bottom: 6px solid hsl(45deg, 100%, 40%);
}
